.header {
     background-color: #c1c1c1;
}
.cart {
    align-items: flex-end;
}
.side-bar .option-product {
    background-color: #81e6fe;
}
.top-buttons, .sale-buttons {
    position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        margin-left: 3.7%;
        text-align: center;
        justify-content: space-between;
        z-index: 3
}
.top-buttons .slick-prev, .sale-buttons .slick-prev {
    position: absolute;
    left: 3.7%;
}
.top-buttons .slick-next, .sale-buttons .slick-next {
    position: absolute;
    right: -0.7%;
}
.top-buttons .fa, .sale-buttons .fa {
    font-size: 30px;
    background-color: #26d2fc;
    padding: 5px;
}
.sale-buttons .fa {
    background-color: #faef03;
}
.top-buttons .fa:hover, .sale-buttons .fa:hover {
    background-color:  #cb2027;
}
 .breadcrumb-list {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}
.breadcrumb {
    display: flex;
    list-style: none;
    margin-bottom: 50px;
}
.breadcrumb li {
    display: flex;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    padding-left: 0;
}
.breadcrumb li a {
    color: #989898;
}
.breadcrumb li::after {
    content: '>>';
    display: flex;
    margin-left: 5px;
    color: #989898;
}
.breadcrumb li:nth-last-child(1)::after {
    display: none;
}
li.active {
    background-color: #faef03;
    padding-left: 5px;
}
a.link-back {
    display: flex;
    color: #989898;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
}
a.link-back::before {
    content: '<<';
    display:flex;
    margin: 0 5px;
}
.peekycropped {
    margin-left: 40px;
    margin-bottom: 60px;
    display: flex;
}
.peekycropped-item40 {
    width: 40%;
}
.peekycropped-item50-slide > div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.column-slide {
    position: relative;
}
.column-slider-single-buttons {
    position: absolute;
    z-index: 2;
    bottom:13%;
    width: 100%;
}
.column-slide .slick-initialized .slick-slide {
    justify-content: center;
}
.column-slide img {
    width: 100%;
}
.column-slider-single-buttons .fa {
    font-size: 30px;
        color:  #d6d4d4;
}
.column-slide .slick-prev {
    position: absolute;
    left: 0;
    border: none;
    background-color: transparent;
}
.column-slide .slick-next {
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
}
.column-slide .slider-single {
    margin-bottom: 20px;
}
.column-slide .slider-nav .slick-track {
    width: 100%!important;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }

.slider-nav .slick-slide { cursor: pointer; }

.slick-slide.is-active img {
	opacity: 0.5;
}
.peekycropped-item60 {
    width: 60%;
}
.peekycropped-item60-content {
    margin-left: 20px;
}
.peekycropped-item60-content h3 {
    margin: 0;
    margin-bottom: 5px;
}
.rating-review {
        font-size: 13px;
    display: flex;
}
.rating-review span::after {
    content: '';
    display: inline-flex;
    margin: 0 5px;
    height: 15px;
    width: 1px;
    background-color: #000;
}
.reting-link:hover {
    color: red;
}
.rating {
    font-size: 15px;
    overflow:hidden;
    margin-right: 10px;
    margin-bottom: 20px;
}
.rating a:hover, .rating a:hover ~ a, .rating a:focus, .rating a:focus ~ a	{
    color: orange;
    cursor: pointer;
}
.rating2 {
    float: left;
    direction: rtl;
}
.rating2 a {
    float:none
}
.item-price {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.item-price span {
    display: block;
    margin-bottom: 5px;
}
.hr {
    width: 390px;
    height: 2px;
    background-color: #333333;
    opacity: 0.1;
    margin: 20px auto;
}
.peekycropped-item60 h5 {
    color: #353535;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}
.peekycropped-item60 p {
    color: #707070;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: justify;
}
.peekycropped-item60-content .size-menu {
    margin-top: 10px;
    list-style: none;
    display: flex;
}
.peekycropped-item60-content .size-menu a {
    background-color: #fff;
    padding: 5px;
    margin-right: 10px;
}
.peekycropped-item60-content .size-menu .active {
    color: #ff4a4a;
}
.peekycropped-item60-content .size-menu a:hover {
    color: #ff4a4a;
}
.adding-list {
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.adding-list .cart-amount-input-text {
    width: 23px;
    height: 21px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    box-sizing: content-box;
}
.cart-amount-input-plus {
    border: 0;
    background: transparent;
    font-size: 20px;
    color: #9b9b9b;
}
.adding-cart h5 {
    margin-bottom: 5px;
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-transform: none;
}
.btn-adding-cart {
    padding: 20px;
    border: 0;
    background-color: #fb4d01;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}
.btn-adding-cart:hover {
    background-color: #bc4d01;
}
.adding-menu {
    list-style: none;
}
.adding-menu a {
    color: #353535;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
}
.adding-menu a:hover {
    color: red;
}
.description {
    margin-left: 40px;
}
.description ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-left: 30px;
}
.description ul.tabs li{
    background: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.description ul.tabs li.current {
    background-color: #26d2fc;
    color: #222;
    color: #333333;
}

.description .tab-content{
    display: none;
    border: 1px solid  #d6d4d4;
    padding: 15px;
}
.description .tab-content p {
    color: #808080;
    font-family: 'Verdana';
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 10px;
}
.description .tab-content.current{
    display: inherit;
}
