body {
	color: #4d4d4d;
	font-family: 'Raleway' sans-serif;
	font-size: 15px;
	line-height: 1;
	background-color: #f8f8f8;
}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
h2 {
	font-size: 48px;
	font-weight: 700;
	line-height: 34px;
	text-transform: uppercase;
}
p {
	font-weight: 400;
	line-height: 24px;
}
.btn-yeelow {
	padding: 20px 30px;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	background-color: #fff51f;
	@include ipad {
		padding: 15px 20px;
	}
	@include phone-v {
		padding: 10px 15px;
	}
    &:hover {
    	color: #000;
    	background-color: #FFF;
    }
}
.navigation {
	position: absolute;
    top: 10px;
    z-index: 2;
    width: 100%;
	@include phone-v {
		top: 5px;
	}
    .navigation-wrap {
    	width: 100%;
    	z-index: 3;
    	display: flex;
    	align-items: center;
    	text-align: center;
    	justify-content: space-between;
    }
}
.logo {
	margin-left: 50px;
	@include phone {
		margin-left: 5px;
	}
	a {
		img {
			@include phone-v {
				height: 30px;
			}
			@include phone {
				height: 60px;
			}
		}
	}
}
.social-link {
	color: #fff;
	font-size: 25px;
	padding: 5px;
	@include phone-v {
		font-size: 15px;
	}
	@include phone {
		font-size: 15px;
	}
	&:hover {
		color: red;
	}
}
.header-page-slide-text {
	margin-right: 40px;
	@include ipad {
		margin-right: 0;
	}
	@include phone-v {
		margin-right: 20px;
	}
    h2 {
    	line-height: 40px;
    	color: #fff51f;
    	margin-bottom: 20px;
		@include ipad {
			font-size: 25px;
			margin-bottom: 10px;
		}
		@include phone-v {
			font-size: 20px;
			line-height: 20px;
		}
		@include phone {
			line-height: 20px;
			font-size: 15px;
		}
    }
    p {
    	line-height: 28px;
    	margin-bottom: 30px;
		color: #fff;
		@include ipad {
			margin-bottom: 10px;
			font-size: 15px;
		}
		@include phone-v {
			font-size: 11px;
			line-height: 20px;
		}
		@include phone {
			margin-bottom: 5px;
			font-size: 10px;
			line-height: 15px;
		}
    }
    .btn-yeelow {
    	display: inline-block;
    	color: #000000;
    	font-size: 18px;
    	font-weight: 400;
    	text-transform: uppercase;
		@include ipad {
			font-size: 15px;
		}
		@include phone-v{
			font-size: 10px;
		}
		@include phone {
			font-size: 10px;
		}
    }
}
.header {
	min-height: 600px;
	height: calc(100vh + 10px);
	@include phone-v {
		min-height: 320px;
	}
	@include phone {
		min-height: 350px;
	}
}
.header-page-slide {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
    .row {
    	height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
		@include phone-v  {
			align-items: flex-start;
			padding-top: 8%;
		}
		@include phone {
			align-items: center;
			padding: 0;
		}
    }
	.first-img, .second-img,.three-img {
		background-repeat: no-repeat;
		background-position:center;
		background-size: cover;
	}
	.first-img {
		background-image: url(../img/1.png);
	}
	.second-img {
		background-image: url(../img/3.png);
	}
	.three-img {
		background-image: url(../img/image4.jpg);
	}
}
.header .slick-slider .slick-track, .header .slick-slider .slick-list {
	height: calc(100vh + 10px);
}
.header-slide-img {
	height: 100%;
	width: 100%;

}
.slick-dots {
	width: 100%;
	position: absolute;
	bottom: 0;
	background: transparent;
    li {
    	margin: 10px 5px;
    }
    li button {
    	width: 40px;
    	height: 4px;
    	background-color: #faef03;
    	border-radius: 0;
    }
    li.slick-active button {
    	background-color: #fb4d01;
    }
}
.header-page-slide-buttons {
	position: absolute;
	right: 0;
	top: 45%;
	z-index: 3;
	@include ipad {
		top: 35%;
	}
	@include phone-v{
		top: 65%;
	}
	@include phone {
		top: 38%;
		right: 2%;
	}
    button {
    	border: 0;
    	width: 30px;
    	height: 50px;
    	background-color:  #faef03;
		@include phone-v {
			width: 30px;
			height: 30px;
		}
		@include phone {
			height: 25px; width: 25px;
		}
        &:hover  {
        	background-color: #fff;
        }
        .fa {
        	font-size: 22px;
			@include phone-v{
				font-size: 20px;
			}
			@include phone {
				font-size: 15px;
			}
        }
    }
}
.cart {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	padding-top: 40px;
	position: relative;
	@include phone-v  {
		align-items: flex-start;
		padding-top: 8%;
	}
	@include phone {
		align-items: center;
	}
    .cart-content {
        width: 20%;
        z-index: 2;
		@include medium {
			width: 26%;
		}
		@include ipad {
			width: 30%;
		}
		@include phone-v {
			width: 25%;
		}
		@include phone {
			width: 35%;
		}
        .r-position {
            width: 100%;
            display: flex;
            justify-content: space-around;
            text-transform: uppercase;
            background-color: #f8f8f8;
			@include medium-lap {
				font-size: 14px;
			}
			@include phone-v{
				font-size: 11px;
			}
			@include phone {
				font-size: 11px;
			}
            .col-50 {
                display: flex;
                width: 50%;
                align-items: center;
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
				@include phone-v{
					font-size: 11px;
				}
				@include phone {
					padding-top: 5px;
					padding-bottom: 5px;
					padding-left: 5px;
				}
                    .btn-primary:hover {
                        color: red;
                }

            }
        }
        .view-cart {
            .bg-red{
                width: 100%;
                display: flex;
                justify-content: space-around;
                text-transform: uppercase;
                background-color: #f8f8f8;
                background-color: #fb4d01;
                padding-top: 5px;
                padding-bottom: 5px;
                .col-50 {
					@include medium-lap {
						font-size: 14px;
					}
					@include ipad {
						font-size: 10px;
					}
					@include phone {
						font-size: 8px;
					}
                    .btn-lg {
                        color:#fff;
                        &:hover {
                            background-color:#e24602;
                            cursor: pointer;
                        }
                    }
                }
            }
            .basket-item {
                padding-top: 15px;
                padding-bottom: 15px;
                background-color: #fb4d01;
                color: #faef03;
				@include phone-v{
					padding: 5px 5px;
				}
				@include phone {
					padding: 5px 5px;
				}
                .row {
                    display: flex;
                    justify-content: space-around;
                    h6 {
                        font-size: 18px;
                        color: #ffffff;
						@include phone-v {
							font-size: 11px;
						}
						@include phone {
							font-size: 11px;
						}
                    }
                    .bougt-item {
                        font-size: 12px;
						@include phone-v {
							font-size: 10px;
						}
						@include phone {
							font-size: 10px;
						}
                    }
                    .fa {
                        font-size: 30px;
						@include ipad {
							font-size: 15px;
						}
                        &:hover {
                            color: #000;
                            cursor: pointer;
                        }
                    }
                    .close {
                        position: absolute;
                        display: inline-flex;
                        justify-content: center;
                        width: 18px;
                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                        &:before, &:after {
                            position: absolute;
                            content: ' ';
                            height: 18px;
                            width: 2px;
                            background-color: #faef03;
							@include phone-v {
								height: 13px;
							}
							@include phone {
								height: 13px;
							}
                        }
                        &:hover:before, &:hover:after {
                            background-color: #000;
                        }
                        &:before {
                            transform: rotate(45deg);
                        }
                        &:after {
                            transform: rotate(-45deg);
                        }
                    }
                    .edit-items {
                        padding-top: 22px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #333333;
                        font-size: 12px;
						@include phone-v {
							font-size: 10px;
							padding-top: 16px;
						}
						@include phone {
							padding-top: 16px;
							font-size: 10px;
						}
                    }
                }
            }
        }

        .search-cart {
            width: 100%;
            display: inline-flex;
            margin-bottom: 20px;
            input[type=text] {
            	position: relative;
            	z-index: 2;
            	padding: 10px;
            	font-size: 17px;
            	float: left;
            	width: 80%;
            	background: #f1f1f1;
				@include phone-v {
					padding: 2px;
					font-size: 10px;
				}
            }
            button {
            	width: 20%;
            	border: 0;
            	color: #fff;
            	background-color: #333333;
                &:hover {
                	background-color: #faef03;
                	cursor: pointer;
                }
            }
        }
        .banner-welcom {
        	width: 100%;
        	background-color: #fff51f;
        	color: #333333;
        	padding: 10px;
			@include phone-v {
				padding: 5px;
			}
            h1 {
               text-align: center;
               font-size: 22px;
               font-weight: 700;
               line-height: 30px;
               text-transform: uppercase;
               padding-top: 10px;
               margin-bottom: 10px;
			   @include ipad {
				   font-size: 15px;
			   }
			   @include phone {
				   font-size: 15px;
				   line-height: 20px;
				   padding-top: 0;
				   margin-bottom: 0;
			   }
           }
           p {
           	font-size: 12px;
           	font-weight: 700;
           	font-style: italic;
           	line-height: 15px;
           	padding-bottom: 20px;
           	text-align: justify;
			@include ipad {
				display: none;
			}
           }
        }
    }
}
.products, .products-page {
	background-color: #f8f8f8;
	padding-bottom: 50px;
	@include phone {
		padding-bottom: 0;
	}
    .products-content {
        width: 100%;
        display: flex;
		.slick-initialized .slick-slide {
			display: flex;
			flex-wrap: wrap;
		}
        .side-bar {
        	width: 20%;
			@include ipad {
				width: 30%;
			}
			@include phone-v {
				width: 25%;
			}
			@include phone {
				display: none;
			}
            .side-bar-item {
            	width: 100%;
            	margin-bottom: 30px;
            	padding-left: 25px;
				@include medium {
					padding-left: 5px;
				}
				@include ipad {
					padding-left:0;
				}
				h3 {
					color: #000000;
					font-family: 'Roboto';
					font-size: 24px;
					font-weight: 700;
					padding-top: 20px;
				}
            }
            .menu {
                padding-left: 0;
                background-color: #26d2fc;
                h3 {
                   color: #fff !important;
                   padding-left: 25px;
                   background-color: #333333;
                   padding-bottom: 20px
               }
                .main-menu {
                    list-style: none;
                    width: 100%;
                    li {
                    	width: 100%;
						a {
							display: block;
							padding-left: 20px;
							width: 100%;
							text-transform: uppercase;
							padding-top: 10px;
							padding-bottom: 10px;
							@include medium {
								padding-left: 10px;
							}
							@include ipad {
								font-size: 12px;
							}
							&:hover {
								background-color: #333333;
								padding-top: 10px;
								padding-bottom: 10px;
								width: 100%;
								color: #fff;
								cursor: pointer;
							}
						}
						&:nth-child(12) {
							padding-bottom: 13px;
						}
                    }
                }
            }
			.banner {
				display: flex;
			    text-align: start;
				margin-bottom: 30px;
				position: relative;
				padding: 0;
				h1 {
					color: #fff;
					font-size: 36px;
					font-weight: 700;
					font-style: italic;
					line-height: 36px;
					text-transform: uppercase;
					z-index: 2;
					position: absolute;
					bottom: 10px;
					left: 10px;
					@include medium {
						left: 10px;
						top: 40px;
						font-size: 25px;
					}
				}
				img {
					position: relative;
					bottom: 0;
					right: 0;
					top: 0;
					left: 0;
					width: 100%;
				}
			}
			.tags {
				width: 100%;
				background-color: #fff;
				h3 {
					@include ipad {
						text-align: center;
						font-size: 20px;
					}
				}
				.tags-list {
					.tags-cloud {
						width: 100%;
						margin-top: 20px;
						margin-bottom: 10px;
						display: inline-flex;
						flex-wrap: wrap;
						list-style-type: none;
						li {
							text-align: center;
							justify-content: center;
							align-items: center;
							background-color: #93939393;
							list-style: none;
							display: inline-flex;
							margin: 5px;
							padding: 10px 10px;
							@include medium {
								margin: 4px;
								font-size: 13px;
							}
							@include ipad {
								margin: 2px;
								font-size: 10px;;
							}
							&:hover {
								background-color: yellow;
								cursor: pointer;
							}
							&:nth-of-type(9n + 1) {
								font-size: 16px;
								padding: 10px 10px;
								@include medium {
									padding: 8px 8px;
									font-size: 15px;
								}

								@include ipad {
									padding: 6px 6px;
									font-size: 11px;
								}
							}
						}
					}
				}
				.articl-views {
					display: inline-block;
					font-size: 18px;
					font-family: 'Roboto';
					font-weight: 900;
					padding-bottom: 20px;
					a {
						&:hover {
							color: red;
						}
					}
				}
			}
			.articl {
				width: 100%;
				.articl-menu {
					list-style: none;
					li {
					   margin-top:20px;
					   &:nth-child(8) {
					   	margin-bottom: 20px;

					   }
					   .aricl-link {
						   color: #555555;
						   font-family: 'Roboto';
						   line-height: 18px;
						   font-size: 14px;
						   font-weight: 400;
						   &:hover {
							   color: red;
						   }
					   }
				   }
				}
				.articl-views {
					display: inline-block;
					font-size: 18px;
					font-family: 'Roboto';
					font-weight: 900;
					padding-bottom: 20px;
					a {
						&:hover {
							color: red;
						}
					}
				}
			}
        }
		.products80 {
			width: 80%;
			padding-left: 30px;
			@include laptop {
				padding-left: 20px;
			}
			@include ipad {
				width: 75%;
				padding-left: 10px;
			}
			@include phone-v {
				width: 75%;
			}
			@include phone {
				width: 100%;
				padding-left: 0;
			}
				.acordion {
					position: relative;
					z-index: 2;
					display: flex;
					justify-content: space-evenly;
					display: none;
					text-align: center;
					@include phone {
						display: block;
					}
					.phone-but {
						z-index:10;
						margin-top: 10px;
						border: none;
						background: transparent;
					}
					.articl-menu-phone{
						display: none;
						list-style: none;
						z-index: -1;
						position: absolute;
						padding-top: 20%;
						right: 0;
						left: 0;
						top: 0;
						bottom: 0;
						background-color: #cccc;
						text-align: center;
						height: calc(100vH);

						li {
							list-style: none;
							font-size: 10px;
							padding: 10px;
							&:hover {
								background-color: red;
							}
						}
					}
					.show {
						display: block;
					}
				}
			.product-list {
				margin-top: 20px;
				width: 100%;
				position: relative;
				h3 {
					font-family: 'Roboto';
					color: #707070;
					font-size: 22px;
					font-weight: 700;
					text-transform: uppercase;
					margin-left: 50px;
					@include phone {
						margin-left: 0;
					}
				}
				.new-product-list-item, .top-product-list-item, .sale-product-list-item, .top-product-list-item-product-page, .sale-product-list-item-product-page {
					display: flex;
					flex-wrap: wrap;
					.product-item {
						width: 33.33%;
						display: flex;
						justify-content: center;
						@include laptop {
								padding: 5px;
						}
						@include ipad {
							width: 50%;
							padding: 5px;
						}
						@include phone-v {
							width: 50%;
							padding: 5px;
						}
						@include phone {
							width: 50%;
						}
						.new-product-item {
							background-color: #fff;
							display: inline-block;
							margin-top: 30px;
							padding-top: 10px;
							padding-bottom: 15px;
							position: relative;
							flex-wrap: wrap;
							@include phone {
								margin-top: 15px;
							}
							 img {
								width: 275px;
								height: 235px;
								margin: 0 auto;
								padding-left: 10px;
								padding-right: 10px;
								@include medium {
									height: 175px;
								}
								@include ipad {
									height: 160px;
								}
								@include phone-v {
									height: 150px;
								}
								@include phone {
									height: 120px;
								}
								&:hover {
									transform: scale(1.1);
									@include medium {
										transform: scale(1.15);
									}
									@include phone {
										transform: scale(1.2);
									}
								}
							}
							.sale-price {
								display: flex;
								justify-content: flex-end;
								margin-top: 10px;
								margin-right: 15px;
								font-family: 'Roboto';
								font-size: 18px;
								font-weight:400;
								text-decoration: line-through;
								color: #e24602;
								@include ipad {
									margin-top: 3px;
									margin-right: 10px;
								}
								@include phone {
									font-size: 10px;
									line-height: 10px;
								}
							}
							.triangle-topright-red, .triangle-topright-yellow {
								position: absolute;
								right: 0;
								top: 0;
								width: 0;
								height: 0;
								border-top: 60px solid red;
								border-left: 60px solid transparent;
								@include phone {
									border-top: 55px solid red;
									border-left: 55px solid transparent;
								}
							}
							.triangle-topright-yellow {
								border-top: 60px solid yellow;
								@include phone {
									border-top: 55px solid yellow;
								}
							}
							.item-new-product, .item-new-product-yellow {
								position: absolute;
								right: 0;
								top: 0;
								font-size: 12px;
								color: #fff;
								text-transform: uppercase;
								padding: 5px;
								padding-top: 14px;
								@include phone {
									font-size: 10px;
								}
							}
							.item-new-product-yellow {
								color: #000;
							}
							.new-product-item-content {
								width: 100%;
								display: flex;
								align-items: start;
								text-align: center;
								justify-content: center;
								margin-top: 30px;
								@include laptop {
									margin-top: 15px;
								}
								h5 {
									color: #333333;
									font-family: 'Roboto';
									font-size: 16px;
									font-weight: 700;
									line-height: 18px;
									margin-right: 15px;
									@include phone {
										font-size: 10px;
										line-height: 10px;
									}
								}
								h6 {
									color: #333333;
									font-family: 'Roboto';
									font-size: 18px;
									font-weight: 700;
									@include phone {
										font-size: 10px;
										line-height: 10px;
									}
								}
							}
						}
					}
				}
				.top-product-list, .sale-product-list {
					margin-top: 75px;
					position: relative;
					@include medium {
						margin-top: 40px;
					}
				}
				.new-product-list-item-buttons, .top-buttons, .sale-buttons {
					position: absolute;
					right: 0;
					top: 0;
				}
				.new-product-list-item-buttons .slick-next, .top-buttons .slick-next, .sale-buttons .slick-next, .new-product-list-item-buttons .slick-prev, .top-buttons .slick-prev, .sale-buttons .slick-prev {
					background: transparent;
					border: 0;
				}
				.new-product-list-item-buttons .fa, .top-buttons .fa, .sale-buttons .fa {
					color:  #333333;
				}
			}
		}
    }
}
.brands {
	.brands-list {
	 padding-top: 60px;
		padding-bottom: 60px;
	 background-color: #fff;
	 display: flex;
	 text-align: center;
	 align-items: center;
	 justify-content: space-around;
	 font-size: 20px;
	 text-transform: uppercase;
	 font-weight: 700;
	 @include ipad {
		 		 display: none;
	 }
	}
}

.social-content {
	width: 100%;
	display: inline-block;
	.social-item {
		text-align: center;
		margin-top: 50px;
		margin-bottom: 35px;
		@include phone {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.social-item-link .fa {
			font-size: 22px;
		}
		.social-text {
			margin-left: 10px;
			color: #333333;
			font-size: 22px;
			font-weight: 400;
			.social-text-cour {
				font-size: 18px;
			}
		}
	}
	.social-item-img {
		margin-bottom: 60px;
	    display:flex;
	    justify-content: space-between;
		flex-wrap: wrap;
		@include phone {
			margin-bottom: 0;
		}
		a {
			@include medium-lap {
				padding: 5px;
				width: 33.33%;
			}
			img {
				@include medium-lap{
					width: 100%;
				}
				@include ipad {
					height: 185px;
				}
				@include phone {
					display: none;
				}
			   &:hover{
				   transform: scale(1.1);
			   }
		   }
		}
	}
	.social-item-sociallist {
		width: 100%;
		.fa {
			text-align: center;
			float: left;
			width: 33.33%;
			background-color: #3fccfd;
			color: #fff;
			font-size: 50px;
			padding: 65px;
			@include phone {
				font-size: 25px;
				padding: 10px;
			}
			&:hover {
				color: #000;
			}
		}
		.fa-facebook {
			background-color: #3b5997;
		}
		.fa-pinterest-p {
			background-color: #cb2027;
		}
	}
}
.footer {
	background-color: #373737;
	width: 100%;
	padding-bottom: 50px;
	.footer-content {
		padding-top: 75px;
		@include ipad {
			padding-top: 40px;
		}
		@include phone-v {
			padding-top: 25px;
		}
		.footer-content-left {
			width: 50%;
			float: left;
			display:flex;
			justify-content: space-around;
			@include ipad {
				float: none;
				display: flex;
				width: 100%;
			}
			@include phone {
				float: none;
				display: flex;
				width: 100%;
			}
			.footer-menu {
				list-style: none;
				margin-bottom: 60px;
				li {
					margin-bottom: 10px;
					@include phone-v {
						margin-bottom: 5px;
					}
					@include phone {
						margin-bottom: 0;
					}
					a{
						color: #ffffff;
						font-family: 'Roboto';
						font-size: 15px;
						font-weight: 400;
						line-height: 18px;
						@include ipad {
							font-size: 13px;
							line-height: 14px;
						}
						@include phone-v {
							font-size: 11px;
							line-height: 12px;
						}
						&:hover {
							color: #000;
						}
					}
				}
			}
		}
		.footer-content-right {
			display: flex;
			.email-content {
				display: inline-block;
				width: 100%;
				margin-bottom: 20px;
				@include phone-v {
					margin-bottom: 10px;
				}
				input[type=text] {
					float: left;
					width: 65%;
					padding: 10px;
					border: 0;
					text-transform: uppercase;
					background-color: #fff51f;
					@include ipad {
						width: 90%;
					}
					@include phone-v {
						padding: 5px;
						font-size: 10px;
					}
				}
				button {
					float: left;
					padding: 10px;
					background-color: #000000;
					color: #fff;
					border: 0;
					text-transform: uppercase;
					@include phone-v {
						padding: 5px;
						font-size: 10px;
					}
					&:hover {
						background-color: red;
					}
				}
			}
			.footer-item50 {
				width: 50%;
				color: #fff;
				span {
					display: inline-block;
					margin-bottom: 10px;
					@include phone {
						font-size: 10px;
					}
				}
				a {
				   padding: 10px;
				   color: #fff;
				   @include ipad {
					   padding: 0;
				   }
				   @include phone-v {
					   font-size: 11px;
				   }
				   @include phone {
					   font-size: 10px;
				   }
			   }
			   .payment-list a {
			   	padding: 4px;
			   }
			   p {
			   margin-bottom: 20px;
			   @include ipad {
				   line-height: 20px;
			   }
			   @include phone-v {
				   margin-bottom: 5px;
				   font-size: 12px;
			   }
			   @include phone {
				   font-size: 10px;
			   }
			  }
			}
		}
	}
}
.footer-content-left h3, .footer-content-right h3{
	color: #ffffff;
	font-family: 'Raleway';
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 30px;
	 @include ipad {
		 font-size: 15px;
		 margin-bottom: 25px;
	 }
	 @include phone-v{
		 font-size: 12px;
		 margin-bottom: 15px;
	 }
	 @include phone {
		 font-size: 12px;
		 margin-bottom: 10px;
	 }
}
.copyright {
	width: 100%;
	background-color: #333333;
	.copyright-item {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 15px 0 15px;
		color: #dad9d9;
		font-family: 'Roboto';
		font-size: 16px;
		font-weight: 400;
		line-height: 21.6px;
		@include ipad {
			font-size: 10px;
		}
		a.copyright-link {
			color: #3fccfd;
		}
	}
}
