.header-product-page {
    background-image: url(../img/3.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
     min-height:350px;
     height: calc(50vh + 10px);
     .wrapper{
         position: relative;
         height:100%;
         .cart {
             align-items: flex-end;
             @include phone-v {
                 align-items: center;
             }
         }
     }
}
.products-page{
    .products-content {
        width: 100%;
        display: flex;
        .product-page-side-bar {
            width: 20%;
            @include ipad {
                display: none;
            }
            .option-product {
                background-color: #81e6fe;
                h3 {
                    @include phone-v {
                        padding-left: 10px!important;
                        font-size: 15px!important;
                    }

                }
            }
            .main-menu {
                li {
                    a {
                        @include phone-v{
                            font-size: 11px;
                        }
                    }
                }
            }
            .product-menu {
                li {
                    a{
                        @include phone-v{
                            font-size: 10px !important;
                        }
                    }
                }
            }
        }
        .product100-page {
            @include ipad {
                padding-left: 0!important;
                width: 100% !important;
            }
            .product-list {
                .top-product-page {
                    .top-buttons-product-page, .sale-buttons-product-page {
                        position: absolute;
                        top: 45%;
                        display: block;
                        width: 100%;
                        z-index: 3;
                        @include phone-v {
                            top: 25%;
                        }
                    }
                    .top-buttons-product-page .slick-prev, .sale-buttons-product-page .slick-prev {
                        position: absolute;
                        left: 14px;
                        background: transparent;
                        border: 0;
                        padding: 0;
                        @include phone {
                            left: 0;
                        }
                    }
                    .top-buttons-product-page .slick-next, .sale-buttons-product-page .slick-next {
                        position: absolute;
                        right: 16px;
                        background: transparent;
                        border: 0;
                        padding: 0;
                        @include phone {
                            right: 0;
                        }
                    }
                    .top-buttons-product-page .fa, .sale-buttons-product-page .fa {
                        font-size: 30px;
                        background-color: #26d2fc;
                        padding: 5px;
                    }
                    .sale-buttons-product-page .fa {
                        background-color: #faef03;
                    }
                    .top-buttons-product-page .fa:hover, .sale-buttons-product-page .fa:hover {
                        background-color:  #cb2027;
                    }
                    .product-item {
                        width: 33.33%;
                        @include phone {
                            width: 50%;
                        }
                        .new-product-item {
                            .new-product-item-content {
                                h5 {
                                    font-size: 13px;
                                }
                                h6 {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }

                .breadcrumb-list {
                    margin-left: 40px;
                    display: flex;
                    justify-content: space-between;
                    @include ipad {
                        margin-left: 0;
                    }
                     @include phone-v {
                         margin-left: 0;
                     }
                    .breadcrumb {
                        display: flex;
                        list-style: none;
                        margin-bottom: 50px;
                        flex-wrap: wrap;
                        @include phone-v {
                        margin-bottom: 20px;
                        }
                        li {
                            display: flex;
                            font-family: 'Roboto';
                            font-size: 12px;
                            font-weight: 400;
                            padding: 5px;
                            padding-left: 0;
                            @include phone-v {
                                font-size: 10px;
                            }
                            a {
                                color:#989898;
                            }
                            &::after {
                                content: '>>';
                                display: flex;
                                margin-left: 5px;
                                color: #989898;
                            }
                            &:nth-last-child(1)::after {
                                display: none;
                            }

                            &.active {
                                background-color: #faef03;
                                padding-left: 5px;
                                color: #000;
                                a {
                                    color: #000;
                                }
                            }
                        }
                    }
                        .link-back {
                            display: flex;
                            color: #989898;
                            font-family: 'Roboto';
                            font-size: 12px;
                            font-weight: 400;
                            padding: 5px;
                            @include phone-v {
                            font-size: 10px;
                            }
                            &:before {
                                content: '<<';
                                display:flex;
                                margin: 0 5px;
                            }
                        }
                    }
                }
                .peekycropped {
                    margin-left: 40px;
                    margin-bottom: 60px;
                    display: flex;
                    @include medium {
                        margin-left: 15px;
                    }
                    @include ipad {
                        width: 100%;
                        margin-left: 0;
                        margin-bottom: 20px;
                    }
                    @include phone-v {
                        margin-left: 0;
                        margin-bottom: 20px;
                    }
                    @include phone {
                        display: block;
                    }
                    .peekycropped-item40 {
                        width: 40%;
                        @include ipad {
                            width: 50%;
                        }
                        @include phone {
                            width: 100%;
                        }
                        .column-slide {
                            position: relative;
                            .slider-nav .slick-track {
                                width: 100%!important;
                                position: relative;
                                top: 0;
                                left: 0;
                                display: flex;
                                justify-content: space-between;
                            }
                            .slider-single {
                                margin-bottom: 20px;
                            }
                            .slick-prev {
                                position: absolute;
                                left: 0;
                                border: none;
                                background-color: transparent;
                            }
                            .slick-next {
                                position: absolute;
                                right: 0;
                                border: none;
                                background-color: transparent;
                            }
                            .slick-initialized .slick-slide {
                                justify-content: center;
                            }
                            img {
                                width: 100%;
                                @include phone-v {
                                    height: 200px;
                                }
                                @include phone {
                                    width: 65%;
                                }
                            }
                            .slider-nav {
                                img {

                                    @include phone-v {
                                        height: 70px;
                                    }
                                    @include phone {
                                        width: 50%;
                                    }
                                }
                            }
                            .column-slider-single-buttons {
                                position: absolute;
                                z-index: 2;
                                bottom:13%;
                                width: 100%;
                                @include phone-v {
                                    bottom:15%;
                                }
                                .fa {
                                    font-size: 30px;
                                        color:  #d6d4d4;
                                        @include phone-v {
                                            font-size: 20px;
                                        }
                                }
                            }
                        }
                        .js .slider-single > div:nth-child(1n+2) { display: none }

                        .js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }

                        .slider-nav .slick-slide { cursor: pointer; }

                        .slick-slide.is-active img {
                        	opacity: 0.5;
                        }
                    }
                    .peekycropped-item60 {
                        width: 60%;
                        @include phone {
                            margin-top: 10px;
                            width: 100%;
                        }
                        .peekycropped-item60-content {
                            margin-left: 20px;
                            @include ipad {
                                margin-left: 10px;
                            }
                            @include phone {
                                margin-left: 0;
                            }
                            h3 {
                                margin: 0;
                                margin-bottom: 5px;
                                @include phone-v {
                                 margin-left: 0!important;
                                 font-size: 15px!important;
                                }
                            }
                            .rating-review {
                                font-size: 13px;
                                display: flex;
                                span {
                                    &::after {
                                        content: '';
                                        display: inline-flex;
                                        margin: 0 5px;
                                        height: 15px;
                                        width: 1px;
                                        background-color: #000;
                                        @include phone-v {
                                            height: 10px;
                                            margin: 0 3px;
                                        }
                                    }
                                }
                                .reting-link {
                                    @include phone-v {
                                        font-size: 10px;
                                    }
                                    &:hover {
                                        color: red;
                                    }
                                }
                                .rating {
                                    font-size: 15px;
                                    overflow:hidden;
                                    margin-right: 10px;
                                    margin-bottom: 20px;
                                    @include phone-v {
                                        font-size: 10px;
                                        margin-bottom: 10px;
                                    }
                                    a {
                                        &:hover, &:focus {
                                            color: orange;
                                            cursor: pointer;
                                        }
                                        &:hover ~ a, &:focus ~ a {
                                            color: orange;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                .rating2 {
                                    float: left;
                                    direction: rtl;
                                    a {
                                        float:none
                                    }
                                }
                            }
                            .item-price {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                @include phone-v {
                                    font-size: 12px;
                                }
                                span {
                                    display: block;
                                    margin-bottom: 5px;
                                }
                            }
                            .hr {
                                width: 390px;
                                height: 2px;
                                background-color: #333333;
                                opacity: 0.1;
                                margin: 20px auto;
                                @include ipad {
                                    width: auto;
                                }
                                @include phone-v {
                                    width: auto;
                                    margin: 10px auto;
                                }
                            }
                            h5 {
                                color: #353535;
                                font-size: 12px;
                                font-weight: 600;
                                line-height: 20px;
                                text-transform: uppercase;
                                @include phone-v {
                                    font-size: 10px;
                                }
                            }
                            p {
                                color: #707070;
                                font-size: 13px;
                                font-weight: 400;
                                line-height: 16px;
                                text-align: justify;
                                @include phone-v {
                                    font-size: 10px;
                                }
                            }
                            .size-menu {
                                list-style: none;
                                display: flex;
                                flex-wrap: wrap;
                                @include phone-v {
                                    line-height: 35px;
                                    margin-top: 0;
                                }
                                li {
                                    margin-top: 15px;
                                    .active {
                                        color: #ff4a4a;
                                    }
                                    a {
                                        background-color: #fff;
                                        padding: 5px;
                                        margin-right: 10px;
                                        margin-top: 10px;
                                        @include phone-v {
                                            font-size: 11px;
                                        }
                                        @include phone {
                                            margin-right: 5px;
                                        }
                                        :hover {
                                            color: #ff4a4a;
                                        }
                                    }
                                }
                            }
                            .adding-cart {
                                h5 {
                                    margin-bottom: 5px;
                                    color: #333333;
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 20px;
                                    text-transform: none;
                                    @include phone-v {
                                        font-size: 10px;
                                    }
                                }
                                .adding-list {
                                    display:flex;
                                    width: 100%;
                                    justify-content: space-between;
                                    align-items: center;
                                    .btn-adding-cart {
                                        padding: 20px;
                                        border: 0;
                                        background-color: #fb4d01;
                                        color: #fff;
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 20px;
                                        text-transform: uppercase;
                                        @include ipad {
                                            padding: 10px;
                                            font-size: 10px;
                                        }
                                        @include phone-v {
                                            padding: 5px;
                                            font-size: 10px;
                                        }
                                        &:hover {
                                            background-color: #bc4d01;
                                        }
                                    }
                                    .cart-amount-input-text {
                                        width: 23px;
                                        height: 21px;
                                        font-size: 18px;
                                        text-align: center;
                                        display: inline-block;
                                        box-sizing: content-box;
                                        @include phone-v {
                                            width: 15px;
                                            height: 15px;
                                            font-size: 10px;
                                        }
                                    }
                                    .cart-amount-input-plus {
                                        border: 0;
                                        background: transparent;
                                        font-size: 20px;
                                        color: #9b9b9b;
                                        @include phone-v {
                                            font-size: 11px;
                                        }
                                    }
                                    .adding-menu {
                                        list-style: none;
                                        a {
                                           color: #353535;
                                           font-size: 11px;
                                           font-weight: 400;
                                           line-height: 20px;
                                           @include phone-v {
                                               font-size: 8px;
                                           }
                                           &:hover {
                                               color: red;
                                           }
                                       }
                                    }
                                }
                            }
                        }
                    }
                }
                .description {
                    margin-left: 40px;
                    @include ipad {
                        margin-left: 0;
                    }
                    @include phone-v {
                        margin-left: 0;
                    }
                    .tabs {
                        margin: 0px;
                        padding: 0px;
                        list-style: none;
                        margin-left: 30px;
                        @include phone-v {
                            margin-left: 0;
                        }
                        li {
                            background: none;
                            display: inline-block;
                            padding: 10px 15px;
                            cursor: pointer;
                            color: #333333;
                            font-size: 12px;
                            font-weight: 400;
                            text-transform: uppercase;
                            @include phone-v{
                                padding: 10px 10px;
                                font-size: 10px;
                            }
                            @include phone {
                                padding: 5px 5px;
                                font-size: 8px;
                            }
                        }
                        .current {
                            background-color: #26d2fc;
                            color: #222;
                            color: #333333;
                        }
                    }
                    .tab-content {
                        display: none;
                        border: 1px solid  #d6d4d4;
                        padding: 15px;
                        p {
                            color: #808080;
                            font-family: 'Verdana';
                            font-size: 11px;
                            font-weight: 400;
                            line-height: 15px;
                            margin-bottom: 10px;
                            @include phone-v {
                                font-size: 9px;
                                line-height: 12px;
                                margin-bottom: 5px;
                            }
                        }
                    }
                    .current{
                        display: inherit;
                    }
                }
            }
        }

}
